<%= form_for(client) do |f| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(client.errors.count, "errores") %> evitó que se guardara el cliente:</h3>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-container">
    <ul>
      <li><%= f.label :name, 'Nombre' %></li>
      <li><%= f.text_field :name %></li>
    </ul>

    <ul>
      <li><%= f.label :address, 'Dirección' %></li>
      <li><%= f.text_field :address %></li>
    </ul>

    <ul>
      <li><%= f.label :phone_number, 'Numero telefónico'  %></li>
      <li><%= f.text_field :phone_number %></li>
    </ul>

    <ul>
      <li class="li-submit"><%= f.submit "Agregar" %><li>
    </ul>
  </div>
<% end %>
