<p id="notice"><%= notice %></p>
<div class="global-container">
  <div class="show-container">
    <ul>
      <li><strong>Nombre </strong></li>
      <li><%= @client.name %></li>
    </ul>

    <ul>
      <li><strong>Direccion </strong></li>
      <li><%= @client.address %></li>
    </ul>

    <ul>
      <li><strong>Numero de telefono</strong></li>
      <li><%= @client.phone_number %></li>
    </ul>
  </div>
  <div class="show-links">
    <li><%= link_to 'Editar', edit_client_path(@client) %></li>
    <li><%= link_to 'Aras', clients_path %></li>
  </div>
</div>
