<p id="notice"><%= notice %></p>
<div class="global-container">
  <div class="title">
    <h2>Cuentas</h2>
    <%= link_to 'Nueva Cuenta', new_account_path %>
  </div>
  <div class="cuentas-container">
    <div  class="table-ul-1">
      <ul>
        <li>Total</li>
        <li> </li>
        <li> </li>
        <!-- <li colspan="3"></li> -->
      </ul>
    </div>

    <div  class="table-ul-2">
      <% @accounts.each do |account| %>
      <ul>
        <li><%= account.total %></li>
        <li class="less-width"><%= link_to 'Mostrar', account %></li>
        <li class="less-width"><%= link_to 'Editar', edit_account_path(account) %></li>
        <!-- <li><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></li> -->
      </ul>
      <% end %>
    </div>
  </div>
</div>
