  <%= form_for(perfume) do |f| %>
  <% if perfume.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(perfume.errors.count, "error") %> prohibited this perfume from being saved:</h2>

    <ul>
      <% perfume.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form-container">

    <ul>
      <li><%= f.label :name %></li>
      <li><%= f.text_field :name %></li>
    </ul>

    <ul>
      <li><%= f.label :buy_price %></li>
      <li><%= f.text_field :buy_price %></li>
    </ul>

    <ul>
      <li><%= f.label :retail_price %></li>
      <li><%= f.text_field :retail_price %></li>
    </ul>

    <ul>
      <li><%= f.label :stock %></li>
      <li><%= f.number_field :stock %></li>
    </ul>

    <ul>
      <li class="li-submit"><%= f.submit %></li>
    </ul>
    <% end %>

  </div>
