<p id="notice"><%= notice %></p>

<div class="global-container">
  <div class="title">
    <h2>Perfumes</h2>
    <%= link_to 'Nuevo Perfume', new_perfume_path %>
  </div>

  <div class="">
    <%= form_tag(perfumes_path, method: :get) do %>

      <%= text_field_tag :name, params[:name], placeholder: "Nombre" %>
      <%= number_field_tag :buy_price, params[:buy_price], placeholder: "Precio de compra", step: 0.5 %>
      <%= number_field_tag :retail_price, params[:retail_price], placeholder: "Precio de venta", step: 0.5 %>
      <%= number_field_tag :stock, params[:stock], placeholder: "Stock", step: 1 %>
      <%= number_field_tag :presentation, params[:presentation], placeholder: "Presentacion" %>
      <%= submit_tag "Buscar"%>

    <%end%>

  <div class="producto-container">
    <% @perfumes.each do |perfume| %>
    <div class="producto-iis">
      <div class="producto-img">
        <img src="#">
      </div>
      <div class="producto-info">
        <ul>
          <li>Nombre </li>
          <li><%= perfume.name %></li>
        </ul>
        <ul>
          <li>Precio de compra </li> <!--buy price-->
          <li><%= perfume.buy_price %></li>
        </ul>
        <ul>
          <li>Precio  de venta </li> <!--real-->
          <li><%= perfume.retail_price %></li>
        </ul>
        <ul>
          <li>Stock </li>
          <li><%= perfume.stock %></li>
        </ul>
        <ul>
          <li>Publico </li>
          <li><%= perfume.public_target %></li>
        </ul>
        <ul>
          <li>Clasificacion </li>
          <li><%= perfume.classification %></li>
        </ul>
        <ul>
          <li>Categoria </li>
          <li><%= perfume.category %></li>
        </ul>
        <ul>
          <li>Presentacion </li>
          <li><%= perfume.presentation %></li>
        </ul>
        <ul>
          <li>Visibilidad </li>
          <li><%= perfume.visibility %></li>
        </ul>
      </div>
      <div class="producto-se">
        <!-- <%= link_to 'Mostrar', perfume %> -->
        <%= link_to 'Editar', edit_perfume_path(perfume) %>
        <!-- <%= link_to 'Destroy', perfume, method: :delete, data: { confirm: 'Are you sure?' } %> -->
      </div>
    </div>
    <% end %>
    <!-- <%= link_to 'New Perfume', new_perfume_path %> -->
  </div>
</div>
