<p id="notice"><%= notice %></p>

<div class="global-container">
  <div class="title">
    <h2>Perfumes</h2>
    <%= link_to 'Nuevo Perfume', new_perfume_path %>
  </div>

  <div class="producto-container">
    <% @perfumes.each do |perfume| %>
    <div class="producto-iis">
      <div class="producto-img">
        <img src="#">
      </div>
      <div class="producto-info">
        <ul>
          <li>Nombre </li>
          <li><%= perfume.name %></li>
        </ul>
        <ul>
          <li>Precio de compra </li> <!--buy price-->
          <li><%= perfume.buy_price %></li>
        </ul>
        <ul>
          <li>Precio  de venta </li> <!--real-->
          <li><%= perfume.retail_price %></li>
        </ul>
        <ul>
          <li>Stock </li>
          <li><%= perfume.stock %></li>
        </ul>
      </div>
      <div class="producto-se">
        <%= link_to 'Mostrar', perfume %>
        <%= link_to 'Editar', edit_perfume_path(perfume) %>
        <!-- <%= link_to 'Destroy', perfume, method: :delete, data: { confirm: 'Are you sure?' } %> -->
      </div>
    </div>
    <% end %>
    <!-- <%= link_to 'New Perfume', new_perfume_path %> -->
  </div>
</div>
