<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @perfume.name %>
</p>

<p>
  <strong>Buy price:</strong>
  <%= @perfume.buy_price %>
</p>

<p>
  <strong>Retail price:</strong>
  <%= @perfume.retail_price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @perfume.stock %>
</p>

<%= link_to 'Edit', edit_perfume_path(@perfume) %> |
<%= link_to 'Back', perfumes_path %>
